$font-primary: 'Lato', sans-serif;
$font-secundary: 'Oswald', sans-serif;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-x-bold: 900;


$color-primary: #EB5E28;
$color-secundary: #FFFCF2;
$color-dark: #252422;
$color-grey: #403D39;
$color-lightgrey: #CCC5B9;


$padding: 2rem;